body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(10, 109, 10);
}

#score-container {
    margin-top: 10px;
    font-size: 20px;
    color: rgb(10, 109, 10);
}